.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}
.formulario {
    display: none;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}.navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
  }
  
.navbar-nav > li {
    float: none;
    display: inline-block;
    text-align: center;
    margin-right: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}
.menu {
    background-color: #00203f;
    padding: 20px;
    font-size: 16px;
    margin-top: 50px;
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .menu li {
    margin: 0 10px;
  }
  
  .menu a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .menu a:hover {
    text-decoration: none;
  }