.navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
  }
  
.navbar-nav > li {
    float: none;
    display: inline-block;
    text-align: center;
    margin-right: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}
#demo {
  margin-bottom: 50px; /* adicione a quantidade de espaço desejada */
  margin-top: 50px;
}

.container {
  display: flex;
  padding: 30px; 
  width:83%; 
  max-width: 2200px; 
  margin: 0 auto;
  padding-left: 230px;
}
.container2{
  display: flex;
  padding: 30px; 
  width:83%; 
  max-width: 2200px; 
  margin: 0 auto;
}
.imagem-texto,
.imagem-1 {
  display: inline-block;
  margin: 22px;
  
}
.texto {
  margin-left: 40px;
  padding-top: 50px;
}

.imagem-texto img,
.imagem-1 img {
  max-width: 100%;
  height: auto;
}
.imagem2{
  height: 365px;
  width: 365px;
  margin-left: 30px;
}

.titulo{
  color: #FDDB00;
  font-family: 'GothamBold';
  font-size: 20px;
}
.corpo {
  text-align: justify;
}
.botao {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid rgb(39, 3, 3);
  background-color: rgb(199, 41, 41);
  color: #fff;

  text-decoration: none;
  border-radius: 5px;
}
.botao:hover {
  background-color: rgb(160, 3, 3);
  color: black;
}
.menu {
  background-color: #00203f;
  padding: 20px;
  font-size: 16px;
  margin-top: 50px;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  text-decoration: none;
  color: #ffffff;
}

.menu a:hover {
  text-decoration: none;
}

#loginPopup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popupContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
